@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../media/background.png");
}

.content {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

    .content::before {
        content: "";
        position: absolute;
        width: 40%;
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        left: 0;
    }

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-second {
    color: #fff;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: -172px;
}

.btn {
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-second {
    background-color: #fff;
    transition: background-color .5s;
    color: black;
}

    .btn-second:hover {
        background-color: black;
        color: #fff;
    }

.first-content {
    display: flex;
}

    .first-content .second-column {
        z-index: 11;
    }

.first-column {
    text-align: center;
    width: 50%;
    float: left;
    height: 100%;
}

.second-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-register {
    position: relative;
    top: -300px;
}

.register {
    display: contents;
}


.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    position: relative;
    top: -128px;
}

    .form input {
        height: 45px;
        width: 100%;
        border: none;
        background-color: #ecf0f1;
    }

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.second-content {
    position: absolute;
    display: flex;
}

    .second-content .first-column {
        order: 2;
        z-index: -1;
    }

    .second-content .second-column {
        order: 1;
        z-index: -1;
    }

.password {
    color: #34495;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

    .password::first-letter {
        text-transform: capitalize;
    }



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s;
    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s;
    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;
}



.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s;
    /MODIFIQUEI DE 3s PARA 1.3s/
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s;
}

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    50% {
        left: -100px;
        opacity: .2;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
        /* z-index: 12;  NÃO HÁ NECESSIDADE*/
    }

    50% {
        left: 100px;
        /* z-index: 12; NÃO HÁ NECESSIDADE*/
        /* background-color: yellow;  Exemplo que dei no vídeo*/
    }

    to {
        left: 110px;
        z-index: -1;
    }
}
