@{
    ViewData["Title"] = "EditorPick";
}

<head>
    <link rel="stylesheet" href="~/css/editor.css" />
</head>

<h2>Editor's Pick</h2>

<div class="escolha">

    <div class="dev" id="editor">
        <img class="dev" src="~/media/dev1.png" alt="dev">
        Alice
    </div>
    <img id="game" src="~/media/genshin.png" alt="">
    <p>melhor joguinho</p>
</div>


<div class="escolha">

    <div class="dev" id="editor">
        <img class="dev" src="~/media/dev2.png" alt="dev">
        Mel
    </div>
    <img id="game" src="~/media/tomb.png" alt="">
    <p>melhor joguinho</p>
</div>

<div class="escolha">

    <div class="dev" id="editor">
        <img class="dev" src="~/media/dev3.png" alt="dev">
        Thiago
    </div>
    <img id="game" src="~/media/crash.png" alt="">
    <p>melhor joguinho</p>
</div>

<div class="escolha">

    <div class="dev" id="editor">
        <img class="dev" src="~/media/dev4.png" alt="dev">
        Everton
    </div>
    <img id="game" src="~/media/dbd.png" alt="">
    <p>melhor joguinho</p>
</div>

<div class="escolha">

    <div class="dev" id="editor">
        <img class="dev" src="~/media/dev5.png" alt="dev">
        Tony
    </div>
    <img id="game" src="~/media/paladins.png" alt="">
    <p>melhor joguinho</p>
</div>
