@model RegisterInputModel

@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/auth.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <div clas="first-column">
            <img src="~/media/Register.jpeg" />
        </div>

        <div class="second-column">

            <div class="logo-register">
                <img src="~/media/Logo.png" />
            </div>

            <div class="register">
                <p class="description description-second">Put on your headset, it's time to dive in!</p>
                <form class="form" asp-controller="Auth" asp-action="Register" method="post" role="form">


                    <label class="label-input" for="">
                        <span asp-validation-for="UserName" class=""></span>
                        <i class="far fa-user icon-modify"></i>
                        <input asp-for="UserName" id="userName" placeholder="Name" />
                    </label>


                    <label class="label-input" for="">
                        <span asp-validation-for="Email" class=""></span>
                        <i class="far fa-envelope icon-modify"></i>
                        <input asp-for="Email" id="email" placeholder="Email" />
                    </label>


                    <label class="label-input" for="">
                        <span asp-validation-for="Password" class=""></span>
                        <i class="fas fa-lock icon-modify"></i>
                        <input asp-for="Password" id="password" placeholder="Password" type="password" />
                    </label>

                    <label class="label-input" for="">
                        <span asp-validation-for="ConfirmPassword" class=""></span>
                        <i class="fas fa-lock icon-modify"></i>
                        <input asp-for="ConfirmPassword" id="confirmPassword" placeholder="Password" type="password" />
                    </label>

                    <button class="btn btn-second">sign up</button>

                </form>
            </div>

        </div>


    </div>
    <script src="/js/site.js"></script>
</body>
</html>